<template>
    <form action="post/{{id}}" method="post">
        <input type="hidden" name="_token" value="{{token}}">
        <input type="hidden" name="_method" v-model="method" value="delete">

        <input type="submit" value="Delete Post" @click="onSubmit">
    </form>
    <div>
        <alert type="success">Το Task διεγράφη με επιτυχία</alert>
    </div>
</template>

<script>
    import Alert from './Alert.vue';


    export default {

        props : ['id', 'token'],

        data () {
            return {
                method : ''
            };
        },

        http ()  {
            return {
                headers : {
                   'X-CSRF-TOKEN' : this.token
                }
            }
        },

        components : {
            Alert
        },

        methods : {
            onSubmit (e) {
                e.preventDefault();
                this
                    .$http[this.getRequestType()](this.$el.nextElementSibling.action)
                    .then(this.onComplete)
                    .catch(this.onError);
            },

            getRequestType () {
                var method = this.method;
                return (method ? method : this.$el.nextElementSibling.method).toLowerCase();
            },

            onComplete () {
                this.$broadcast('displayMsg');
            },

            onError (response) {
                alert(response.data.message);
            }
        }
    }
</script>

<style>

</style>