


<template>
    <div v-show="show" transition="fade" class="animated Alert Alert--{{type | capitalize}}" style="display:block">
        <span class="alert-icon-float-left">
            <i v-bind:class="{
            'fa' : true,
            'fa-check-circle' : type === 'success',
            'fa-info-circle' : type !== 'success'
            }" aria-hidden="true"></i>
        </span>
        <div>
            <strong>
                <slot name="alert-header">
                    Συγχαρητήρια!
                </slot>
            </strong>
        </div>
        <div>
            <span class="Alert__body">
                <slot name="alert-body"></slot>
            </span>
            <span class="Alert__close" v-show="important" @click="show = false">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        props : {
            type : {default : 'info'},
            timeout : {default : 2000},
            important : {
                type : Boolean,
                default : false
            }
        },

        data () {
            return {
                show : false
            };
        },

        events : {
            displayMsg (data) {
                this.show = true;
                if (!data.important){
                    setTimeout(
                        () => this.show = false ,
                        this.timeout
                    );
                }
            }
        }
    }

</script>

<style>
    .Alert {
       // background-color : #99c93d;
       // padding : 12px 30px;
        color : #fff;
        border-radius : 4px;
        position : fixed;
        top : 100px;
        right : 20px;
        font-size : 15px;
        width : 350px;
        //font-family: Arial, sans-serif;
        font-family: Source Sans Pro,helvetica neue,Avenir Next,Avenir,Arial,sans-serif;
        line-height : 1.6em;

        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
    }

    .Alert--Info {
        background-color : #e3e3e3;
    }

    .Alert--Success {
        color : #3c763d;
        background-color : #dff0d8;
        border-color : #d6e9c6;
    }

    .Alert--Warning {
        background-color : #fcf8e3;
        color : black;
    }

    .Alert--Danger {
        background-color : #f2dede;
        color : #a94442;
        border-color : #ebccd1;
    }

    .Alert .Alert__body {
        color : inherit;
        background-color : transparent;
        text-decoration : none;
    }

    .Alert__close {
        position : absolute;
        top: 10px;
        right: 10px;
        cursor : pointer;
    }

    .alert-icon-float-left {
        font-size: 32px;
        float: left;
        margin-right: 15px;
        margin-bottom: 30px;
    }
</style>
