<template>
    <div class="row">
        <div v-if="show" class="col-md-4">
            <form v-if="comments.length <= Length" @submit.prevent="addComment">
                <div class="form-inline">
                    <label class="form-label">
                        Νέα παρατήρηση:
                    </label>
                    <button class="btn btn-primary">
                        Προσθήκη
                    </button>
                </div>
                <div class="form-group">
                    <textarea v-model="newComment" class="form-control" cols="40" rows="4" maxlength="200" placeholder="μέχρι 200 χαρακτήρες">

                    </textarea>
                </div>
            </form>

        </div>
        <div v-if="comments.length" class="col-md-8">
            <h3 class="text-center">
                <span> <b> {{ comments.length }} </b> - Παρατηρήσεις </span>
            </h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Α.Α</th>
                            <th class="text-center">Παρατηρήσεις</th>
                            <th class="text-center">Ενέργειες</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr v-for="comment in comments">
                            <td class="text-center"> {{ ($index+1) }} </td>
                            <td v-if="!comment.edit_cell">
                                {{ comment.comment }}
                            </td>
                            <td class="text-center" v-if="comment.edit_cell">
                                <textarea v-model="comment.comment" class="form-control" cols="40" rows="4" maxlength="200" placeholder="μέχρι 200 χαρακτήρες">
                                </textarea>
                            </td>
                            <td class="text-center" v-if="comment.disabled">
                                <span class="label label-danger">κλειδωμένο</span>
                            </td>
                            <td class="text-center" v-else>
                                <button v-if="!comment.edit_cell" alt="Επεξεργασία Σημείωσης" @click="editComment(comment)" class="edit"><i class="fa fa-pencil-square-o"></i></button>
                                <button v-if="!comment.edit_cell" alt="Διαγραφή" class="delete" @click="removeComment(comment)"><i class="fa fa-times"></i></button>
                                <button v-if="comment.edit_cell" alt="Αποθήκευση" class="save" @click="saveComment(comment)"><i class="fa fa-floppy-o"></i></button>
                            </td>
                       </tr>
                    </tbody>
                </table>
        </div>
    </div>

</template>

<script>
    export default {
        props : {
            comments: {
                type: Array,
                required: true,
                twoWay: true
            },
            school_id : {
                type: Number,
                required : true,
                coerce: function (val) {
                    return parseInt(val)
                }
            },
            period_id : {
                type: Number,
                required : true,
                coerce: function (val) {
                    return parseInt(val)
                }
            },
            show : {
                type: Boolean,
                required : true,
                twoWay: true
            }
        },
        data () {
            return {
                newComment : '',
                Length : 3
            };
        },

        methods: {

            addComment :function(e){
                e.preventDefault();

                console.log('comment added');

                if (this.newComment != ''){
                    this.comments.push({
                       comment : this.newComment,
                       period_id : this.period_id,
                       school_id : this.school_id,
                       edit_cell : false,
                       disabled : false
                    });
                    this.newComment = '';
                }
            },

            removeComment: function(comment){
                this.comments.$remove(comment);
            },

            editComment: function(comment){
                comment['edit_cell'] = true;
            },

            saveComment: function(comment){
                comment['edit_cell'] = false;
            },

            saveChanges: function(e){
                e.preventDefault();
                console.log('changes saved...');
            },


            updateChanges : function(e){
                 e.preventDefault();
                console.log('update changes...');
            }

        }
    }
</script>

<style>

</style>