<template id="modal-attendance-template">
    <div role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" @click="close" class="close"><span>&times;</span></button>
                    <h4 class="modal-title">
                            {{ routeName }}
                    </h4>
                </div>
                <div class="modal-body">
                    <h4> {{ periodName }} </h4>
                    Σύνολο παιδιών δρομολογίου: {{ periodRouteObject.kids_number }}
                    <label>Αριθμός παιδιών που έκαναν απουσίες</label>
                        <label v-if="periodRouteObject.disabled">{{ kidsAbsences }}</label>

                        <input v-else type="text" v-model="kidsAbsences" placeholder="όχι περισσότερο από {{ periodRouteObject.kids_number }}"/>

                    <table class="table" v-if="periodRouteObject.absences.length">
                        <thead>
                            <tr>
                                <th>A/A</th>
                                <th>Ημέρες Απουσίας</th>
                                <th>Εισιτήριο</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="absence in periodRouteObject.absences">
                                <td> {{ $index + 1 }} </td>
                                <td>
                                    <label v-if="periodRouteObject.disabled">{{ absence.days_apousias }}</label>

                                    <div v-else class="form-group" :class="{'has-error has-feedback' : apousiologioErrors['days_apousias'][$index]}">
                                        <input type="text" class="form-control"  v-model="absence.days_apousias" placeholder="γράψε τις ημέρες απουσίας...">
                                        <i class="fa fa-times form-control-feedback" aria-hidden="true"></i>
                                        <span class="help-block">
                                            {{ apousiologioErrors['days_apousias'][$index] }}
                                        </span>
                                    </div>
                                </td>
                                <td>{{ absence.days_apousias * 2  }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>ΣΥΝΟΛΟ</td>
                                <td>{{ summary }}</td>
                            </tr>
                        </tfoot>
                    </table>

                    <div v-else class="alert alert-danger">
                        Έχετε επιλέξει 0 απουσίες για το συγκεκριμένο δρομολόγιο
                    </div>

                </div>
                <div class="modal-footer">
                    <button @click="close" type="button" class="btn btn-default">Κλείσιμο</button>
                    <button @click="submitChanges" type="button" class="btn btn-primary">Αποθήκευση</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        template : '#modal-attendance-template',

        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            },
            periodRouteId : {
                type : Number,
                required : true
            }
        },

        data () {
            return {
                periodRouteObject : {
                    absences : []
                },
                periodName : '',
                routeName : '',
                canUpdateAbsences : null,
                apousiologioErrors : {
                    days_apousias : []
                }
            };
        },

        computed : {
            summary () {
                let sum =  this.periodRouteObject.absences.reduce(function(prevVal, elem){
                    return prevVal + elem.days_apousias * 2;
                },0);
                return Number.isInteger(sum) ? sum : '-';
            },
            kidsAbsences : {
                get ()  {
                    if (this.periodRouteObject.absences.length){
                        return this.periodRouteObject.absences.length
                    }else{
                        return 0
                    }
                },

                set (val) {

                    this.canUpdateAbsences = false;
                    let maxKids =  Number.parseInt(val);

                    if (Number.isInteger(maxKids)){
                        if (maxKids > 0 && maxKids <= this.periodRouteObject.kids_number){
                            let dataArray = [];
                            for (var i=0; i<maxKids ; i++){
                                dataArray.push({
                                    days_apousias : 0,
                                    periodroute_id : this.periodRouteObject.id
                                });
                            }

                            this.periodRouteObject.absences =  dataArray;
                        }else{
                            this.periodRouteObject.absences = [];
                        }
                    }
                }
            }
        },

        ready () {

            this.$watch('show', (val)=> {
                const el = this.$el;
                const body = document.body;
                if (val) {
                    el.querySelector('.modal-content').focus();
                    el.style.display = 'block';
                    setTimeout(()=> el.classList.add('in'), 0);

                    this.fetchAbsenceArray();
                } else {
                    el.classList.remove('in');

                    setTimeout(()=> {
                        el.style.display = 'none';
                        body.style.paddingRight = '0'
                    }, 300)
                }
            }, { immediate: true })

        },

        methods : {
            close() {
                this.show = false
            },

            fetchAbsenceArray (){
                this.$http.get(`/ajax/ktel/getAbsences/${this.periodRouteId}`)
                    .then(r => {
                        this.periodRouteObject = r.data.object;
                        this.canUpdateAbsences = this.periodRouteObject.absences.length ? true : false;
                        this.periodName = r.data.periodAttribute;
                        this.routeName = r.data.nameAttribute;
                    })
                    .catch(r=> console.log('Error'));
            },

            submitChanges (){
                if (this.canUpdateAbsences){
                    this.updateAbsences();
                }else{
                    this.insertAbsences();
                }
            },

            updateAbsences(){
                this.apousiologioErrors.days_apousias = [];

                this.$http.post('/ajax/ktel/updateAbsences',{
                    absencesCollection : this.periodRouteObject.absences
                })
                    .then(r => {
                        this.close();
                        this.$parent.displayAlert('Το απουσιολόγιο ενημερώθηκε με επιτυχία...', 'success');
                    })
                    .catch(r=> this.createErrorMessages(r.data));
            },

            insertAbsences(){
                this.apousiologioErrors.days_apousias = [];

                this.$http.post('/ajax/ktel/insertAbsences',{
                    absencesCollection : this.periodRouteObject.absences
                })
                    .then(r => {
                        this.close()
                        this.$parent.displayAlert('Οι απουσίες εισήχθησαν με επιτυχία...', 'success');
                    })
                    .catch(r=> this.createErrorMessages(r.data));
            },

            deleteAbsences(){

            },

            createErrorMessages(collection){
                const exp = /(\d+)/;
                Object.keys(collection).forEach(key => {
                    let k = key.match(exp);
                    let attribute = key.substr(key.lastIndexOf(".")+1);
                    this.apousiologioErrors[attribute].$set(k[0], collection[key][0]);
                });

                this.$parent.displayAlert('Η εισαγωγή απέτυχε...', 'danger');
            },

            checkKidsAbsencesNumber (){
                console.log(`kAbsences=${this.kidsAbsences} , kids_number = ${this.periodRouteObject.kids_number}`);
                if (this.kidsAbsences >= 0 && this.kidsAbsences <= this.periodRouteObject.kids_number){
                    console.log('false');
                    return false
                }else{
                    console.log('true');
                    return true
                }
            }

        }
    }
</script>

<style>
    .modal {
      transition: all 0.3s ease;
    }
    .modal.in {
      background-color: rgba(0,0,0,0.5);
    }
    .modal.zoom .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .modal.zoom.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>