<template>
    <div v-if="days > 0" class="days">
        <span v-if="days > 2">{{ days }} ημέρες πριν στις </span>
        <span v-if="days == 1"> χθες στις </span>
        <span>{{ h | twoDigits }}:{{ m | twoDigits }}</span>
    </div>

    <div v-else class="time">
        <span v-if="hours == 0 && minutes > 1">
            {{ minutes }} λεπτά πριν...
        </span>

        <span v-if="hours == 0 && minutes == 1">
            {{ minutes }} λεπτό πριν...
        </span>

        <span v-if="hours == 0 && minutes == 0">
            μόλις τώρα...
        </span>

        <span v-if="hours > 0">
            {{ hours }}
            <span v-if="hours == 1"> ώρα πριν...</span>
            <span v-else> ώρες πριν...</span>
        </span>
    </div>
</template>

<script>
    export default {
        props : {
            time : {
                type: Number,
                required : true,
                coerce: str => Math.trunc(Date.parse(str) / 1000)
            },
            h : {
                type: Number,
                required : true,
                coerce: function (val) {
                    return parseInt(val)
                }
            },
            m : {
                type: Number,
                required : true,
                coerce: function (val) {
                    return parseInt(val)
                }
            }
        },

        filters : {
            twoDigits (digit){
                if(digit.toString().length <= 1){
                    return "0"+digit.toString();
                }
                return digit.toString();
            }
        },

        computed: {
            seconds() {
                return (this.now - this.time) % 60;
            },

            minutes() {
                return Math.trunc((this.now - this.time) / 60) % 60;
            },

            hours() {
                return Math.trunc((this.now - this.time) / 60 / 60) % 24;
            },

            days() {
                return Math.trunc((this.now - this.time) / 60 / 60 / 24);
            }
        },

        data() {
            return {
                now: Math.trunc((new Date()).getTime() / 1000)
            }
        },

        ready() {
            window.setInterval(() => {
                this.now = Math.trunc((new Date()).getTime() / 1000);
            },1000);
        }
    }
</script>