<template>
   <input id="test" type="checkbox"/>
</template>

<script>
  if (!jQuery().bootstrapToggle) {
    require('bootstrap-toggle')
  }

  export default {
    props: {
      value: {
        type: Boolean,
        default: true
      },
      options: {
        type: Object,
        default: () => ({})
      }
    },
    computed: {
      $$el() {
        return jQuery(this.$el)
      }
    },
    watch: {
      value(newValue) {
        this.$$el.bootstrapToggle(newValue ? 'on' : 'off')
      }
    },

    ready (){
        $('#test').bootstrapToggle();
    },
    compiled() {
      if (this.value) {
        this.$el.wants = true
      }
      this.$$el.bootstrapToggle()
      this.$$el.change(() => {
        console.log('hello');
        this.$emit('input', this.$$el.prop('wants'))
      })
    },
    beforeDestroy() {
      this.$$el.bootstrapToggle('destroy')
      this.$$el.off('change')
    }
  }
</script>


<style src="../../../../node_modules/bootstrap-toggle/css/bootstrap-toggle.css"/>