/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height*/
    margin-bottom: 236px;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 236px;
}

#error_panel .panel-body{
    background-color: #FAF9F0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .wrapper {
    padding: 60px 15px 0;
}
.wrapper .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


/* FOOTER
-------------------------------------------------- */
#footer {
    background: #233140;
    width: 100%;
    margin-top: 10px;
}
#footer .line-title {
    color: #fff;
    text-transform: uppercase; }
#footer .top {
    padding-top: 30px;
    /*min-height: 330px;*/
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px; }
#footer .top h5 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 0 20px 0;
    display: block;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
    color: #fff; }
#footer .top h5:after {
    content: "";
    height: 1px;
    background: #e74c3c;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 60px; }
#footer .bottom {
    height: 61px;
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
#footer .bottom .copy-text {
    line-height: 60px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 11px;
    float: left; }
#footer .bottom .copy-text a {
    color: rgba(255, 255, 255, 0.7); }
#footer .bottom .copy-text a:hover {
    color: #fff; }
#footer .bottom .social-buttons {
    float: right;
    margin-top: 12px; }
#footer .bottom .social-buttons .fa {
    opacity: 0.6; }
#footer .bottom .social-buttons .fa:hover {
    opacity: 1; }
#footer .newsletter-signup .form-control {
    border: none;
    font-size: 12px;
    line-height: 30px;
    height: 30px; }
#footer .newsletter-signup .btn {
    padding: 0 12px;
    line-height: 30px;
    height: 30px;
    font-size: 12px; }
#footer .links {
    list-style: none;
    padding: 0;
    margin: 0; }
#footer .links li {
    line-height: 2em; }
#footer .links li a {
    color: rgba(255, 255, 255, 0.5);
    display: block; }
#footer .links li a:hover {
    color: #fff; }
#footer .links.underline li {
    line-height: 2.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
#footer .links.underline li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
#footer .links.underline li:last-child, #footer .links.underline li:last-child a {
    border: none; }
@media (max-width: 991px) {
    #footer .top {
        font-size: 11px; } }
@media (max-width: 767px) {
    #footer .top {
        font-size: 11px;
        min-height: 0;
        padding: 40px 0; }
    #footer .top .row .col-md-3 {
        margin: 15px 0; }
    #footer .top .row .col-md-3:nth-child(1), #footer .top .row .col-md-3:nth-child(2) {
        display: none; }
    #footer .bottom {
        height: auto;
        padding: 10px 0;
        text-align: center; }
    #footer .bottom .copy-text {
        float: none;
        line-height: 1;
        padding: 20px 0;
        margin-top: 15px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        display: block; }
    #footer .bottom .social-buttons {
        float: none; } }

/* FOOTER FLICKR STREAM
-------------------------------------------------- */
#footer .photo-stream {
    list-style: none;
    padding: 0;
    margin: 0; }
#footer .photo-stream > li {
    background: rgba(0, 0, 0, 0.2);
    height: 30%;
    width: 30%;
    display: block;
    float: left;
    margin: 0 5% 5% 0;
    opacity: 0.8; }
#footer .photo-stream > li:nth-child(3n) {
    margin-right: 0; }
#footer .photo-stream > li img {
    padding: 6px;
    width: 100%;
    height: auto; }
#footer .photo-stream > li:hover {
    opacity: 1; }

/* FOOTER TWEETS
-------------------------------------------------- */
ul.tweetList {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1; }
ul.tweetList > li > p {
    display: block;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    position: relative;
    font-size: 11px; }
ul.tweetList > li > p:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background: none;
    border: none;
    border-top: 10px solid rgba(255, 255, 255, 0.05);
    border-right: 7.5px solid transparent;
    border-left: 7.5px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 30px; }
@media (max-width: 991px) {
    ul.tweetList > li > p {
        font-size: 10px;
        padding: 10px; } }
ul.tweetList a {
    color: #fff; }
ul.tweetList .timestamp {
    margin: 0; }
ul.tweetList .fa {
    font-size: 30px;
    display: block;
    color: rgba(255, 255, 255, 0.5); }

/* FOOTER PAYMENTS
-------------------------------------------------- */
#footer .payment-methods {
    list-style: none;
    padding: 0;
    margin: 0; }
#footer .payment-methods > li {
    display: block;
    float: left;
    line-height: 1;
    margin: 0 4% 4% 0;
    width: 22%; }
#footer .payment-methods > li:nth-child(4n) {
    margin-right: 0; }
#footer .payment-methods > li > img {
    display: block;
    max-width: 100%; }


/********** SOCIAL BUTTONS *****************/
.social-buttons {
    list-style: none;
    padding: 0;
    margin: 0; }
.social-buttons li {
    display: inline-block;
    margin: 0 6px 0 0;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}
.social-buttons li:hover{
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}

.social-buttons a {
    display: block;
    color: white;
}
.social-buttons a:hover{
    text-decoration: none;
}


.social-buttons .fa {
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    display: block; }
.social-buttons .white-outline .fa {
    border: 1px solid #fff; }
.social-buttons.colored-bg .fa-facebook {
    background-color: #5371ad; }
.social-buttons.colored-bg .fa-twitter {
    background-color: #2aa9e0; }
.social-buttons.colored-bg .fa-google-plus {
    background-color: #d34829; }
.social-buttons.colored-bg .fa-rss {
    background-color: #ef5c29; }
.social-buttons.colored-bg .fa-linkedin {
    background-color: #016597; }
.social-buttons.colored-bg .fa-skype {
    background-color: #37c5f5; }
.social-buttons.colored-bg .fa-pinterest {
    background-color: #ce2127; }
.social-buttons.colored-bg-1 .fa {
    background-color: #e74c3c;
    color: #fff; }
.social-buttons.colored-bg-2 .fa {
    background-color: #566473;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-facebook:hover {
    background-color: #5371ad;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-twitter:hover {
    background-color: #2aa9e0;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-google-plus:hover {
    background-color: #d34829;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-rss:hover {
    background-color: #ef5c29;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-linkedin:hover {
    background-color: #016597;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-skype:hover {
    background-color: #37c5f5;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-pinterest:hover {
    background-color: #ce2127;
    color: #fff; }
.social-buttons.colored .fa-facebook {
    color: #5371ad;
    background: #f2f2f2; }
.social-buttons.colored .fa-twitter {
    color: #2aa9e0;
    background: #f2f2f2; }
.social-buttons.colored .fa-google-plus {
    color: #d34829;
    background: #f2f2f2; }
.social-buttons.colored .fa-rss {
    color: #ef5c29;
    background: #f2f2f2; }
.social-buttons.colored .fa-linkedin {
    color: #016597;
    background: #f2f2f2; }
.social-buttons.colored .fa-skype {
    color: #37c5f5;
    background: #f2f2f2; }
.social-buttons.colored .fa-pinterest {
    color: #ce2127;
    background: #f2f2f2; }
.social-buttons.round .fa {

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box; }

.links.round .fa{
    background-color: #C6C6C6;
    margin-right: 5px;
    color: #000000;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

/* go to top level with icon */
#top {
    position: fixed;
    bottom:10%;
    right:1%;
}


#nav.affix{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-bottom: 150px;
}



/********** SOCIAL BUTTONS *****************/