.wrapper > .loaderWrap{
    position: fixed;
}

#loader.loading{
    display: block;
}

#loader.invisible{
    display: none;
}

.loaderWrap .bg,
.loaderWrap {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    z-index: 1999;
    width: 100%;
    height: 100%;
}

.loaderWrap .bg {
    background-color: #333;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    z-index: 9;
}
#spinner {
    display: inline-block;
    left:50%;
    position: absolute;
    margin: -50px 0 0 -50px;
    top:30%;
    z-index: 99;
    transition: all .3s easy-in-out;
    width: 120px;
    height: 120px;
}

#textLoading{
    display: inline-block;
    font-size: large;
    font-weight: bold;
    position: absolute;
    margin: 0 0 0 -75px;
    z-index: 2000;
    font-family: Kids, "Comic Sans MS", Jester, sans-serif;
    left: 50%;
    top:45%;
    color: #ffffff;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #006400;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 3.0s infinite ease-in-out;
    animation: sk-bounce 3.0s infinite ease-in-out;
}
.double-bounce1{
    background: url("/img/logotipo2.jpg");
    background-size: contain;
}
.double-bounce2 {
    background: url("/img/dt_img_6.jpg");
    background-size: contain;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

