#confirmation_button{
    position: absolute;
    top: 10px;
    left: 500px;
}
#confirmation_date{
    color: #ffcc00;
}
.notification_div{
    position:relative;
    padding: 7px 12px !important;
    transition: background-color 0.5s ease;
}

.notification_list{
    max-height: 400px;
    max-width: 300px;
    margin-top: 7px;
}
.scroller {
    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown-menu > .notification_list > .notification_div:hover  {
    background-color: #ececec;
}

.dropdown-menu > .notification_list > .notification_div:hover .notification-title {
    text-decoration: underline;
}

.dropdown-menu > .notification_list > .notification_div:hover .notification-description > .notification_full_name {
    color: #0000ff;
}

.dropdown-menu > .notification_list > .notification_div:hover .notification-ago {
    font-weight: bold;
    color: #55903c;
}

.notification_div >  a:hover{
    /*font-weight: bold;*/
    text-decoration: inherit;
}

.notification_link{
    text-align: center;
    padding: 8px !important;
    border-top: 1px solid #e4e4e4;
    display: block;
    text-decoration: none !important;
    font-size: 12px;
    font-weight: 800;
    color: #999;
    line-height: 18px !important;
    height: auto !important;
}

.notification-title{
    font-size: 11px;
    font-weight: 700;
    padding-bottom: 1px;
    display: block;
    margin-right: 35px;
}

.notification-description{
    color: #999;
    font-size: 12px;
    display: block;
    margin-right: 35px;
}
.notification-ago{
    text-align: right;
    color: #99cb84;
    font-size:11px;
    font-style: italic;
    display: block;
    margin-right: 35px;
}
.notification-icon{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -13px 12px 0 0 ;
    font-size: 14px;
}
.my-text-danger{
    color: red;
}
.my-text-primary{
    color: #39b3d7;
}
.my-text-default{
    color: #829091;
}
.my-text-warning{
    color: #f29f29;
}
.my-text-success{
    color: #46ac46;
}
.my-bg-danger {
    background-color: #e66454!important
}
.my-bg-primary{
    background-color: #5bc0de!important;
}

.my-bg-default{
    background-color: #98a3a4!important;
}

.my-bg-warning{
    background-color: #f4b04f!important;
}

.my-bg-success{
    background-color: #5ebd5e!important;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-warning {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  #fff;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #fff;
    text-decoration: none;
}

.footer-distributed .footer-center p a:hover{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}



.page-footer{
    background-color: #313233;
    color: #F3F3F3;
}

.copyright{
    background: rgba(0, 0, 0, 0.5);
    color: #F3F3F3;
}

.page-heading{
    /*margin-top: 2em;*/
    margin-bottom: 0;
    padding-bottom: 0.3em;
    text-align: center;
    line-height: 1;
}

.page-heading:after{
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    margin: 5px auto 0;
    background-color: #F6624A;
}

/********** SOCIAL BUTTONS *****************/
.social-buttons {
    list-style: none;
    padding: 0;
    margin: 0; }
.social-buttons li {
    display: inline-block;
    margin: 0 6px 0 0;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}
.social-buttons li:hover{
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}

.social-buttons a {
    display: block;
    color: white;
}
.social-buttons a:hover{
    text-decoration: none;
}


.social-buttons .fa {
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    display: block; }
.social-buttons .white-outline .fa {
    border: 1px solid #fff; }
.social-buttons.colored-bg .fa-facebook {
    background-color: #5371ad; }
.social-buttons.colored-bg .fa-link {
    background-color: #FFFFFF; }
.social-buttons.colored-bg .fa-twitter {
    background-color: #2aa9e0; }
.social-buttons.colored-bg .fa-google-plus {
    background-color: #d34829; }
.social-buttons.colored-bg .fa-rss {
    background-color: #ef5c29; }
.social-buttons.colored-bg .fa-linkedin {
    background-color: #016597; }
.social-buttons.colored-bg .fa-skype {
    background-color: #37c5f5; }
.social-buttons.colored-bg .fa-pinterest {
    background-color: #ce2127; }
.social-buttons.colored-bg-1 .fa {
    background-color: #e74c3c;
    color: #fff; }
.social-buttons.colored-bg-2 .fa {
    background-color: #566473;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-facebook:hover {
    background-color: #5371ad;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-twitter:hover {
    background-color: #2aa9e0;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-link:hover {
    background-color: #FFF;
    color: #000; }
.social-buttons.colored-bg-on-hover .fa-google-plus:hover {
    background-color: #d34829;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-rss:hover {
    background-color: #ef5c29;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-linkedin:hover {
    background-color: #016597;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-skype:hover {
    background-color: #37c5f5;
    color: #fff; }
.social-buttons.colored-bg-on-hover .fa-pinterest:hover {
    background-color: #ce2127;
    color: #fff; }
.social-buttons.colored .fa-facebook {
    color: #5371ad;
    background: #f2f2f2; }
.social-buttons.colored .fa-twitter {
    color: #2aa9e0;
    background: #f2f2f2; }
.social-buttons.colored .fa-google-plus {
    color: #d34829;
    background: #f2f2f2; }
.social-buttons.colored .fa-rss {
    color: #ef5c29;
    background: #f2f2f2; }
.social-buttons.colored .fa-linkedin {
    color: #016597;
    background: #f2f2f2; }
.social-buttons.colored .fa-skype {
    color: #37c5f5;
    background: #f2f2f2; }
.social-buttons.colored .fa-pinterest {
    color: #ce2127;
    background: #f2f2f2; }
.social-buttons.round .fa {

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box; }

.links.round .fa{
    background-color: #C6C6C6;
    margin-right: 5px;
    color: #000000;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

/* go to top level with icon */
#top {
    position: fixed;
    bottom:10%;
    right:1%;
}

#nav.affix{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-bottom: 150px;
}