@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak] {
  display: none;
}

#loader {
  //    position: fixed;
  //    top: 40px;
  //    left: 0;
}

#version{
  position: fixed;
  bottom: 0;
  right: 0;
}

#lobby-container{
  padding-top: 100px;
}

.page-heading{
  margin-bottom: 0;
  padding-bottom: 0.3em;
  text-align: center;
  line-height: 1;
}

.page-heading:after{
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  margin: 5px auto 0;
  background-color: #F6624A;
}

.fa-heart{
  color: #F74933;
}
.space-100{
  height: 100px;
  display: block;
}
pre.prettyprint{
  background-color: #ffffff;
  border: 1px solid #999;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}
.atv, .str{
  color: #05AE0E;
}
.tag, .pln, .kwd{
  color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
  color: #333;
}
.com{
  color: #999;
}


/*#################*/
input.negative{
  background-color:#d9534f;
  color: #fff;
  font-size: 19px;
}
input.positive{
  background-color:green;
  color: #fff;
  font-size: 19px;
}

input.editing{
  background-color:yellow;
  color: #000;
  font-size: 16px;
}

.div_ownsers{
  display: none;
}
.display_class{
  display: block;
}

#login_body {
  background: url('https://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
  background-size: cover;
}
