<template id="modal-student">
    <div role="dialog" class="modal fade">
        <div role="document" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" @click="close" class="close"><span>&times;</span></button>
                    <h4 class="modal-title">
                            Καταχώρηση Νέου Μαθητή στη Σχολική Μονάδα
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : error_values.last_name
                            }">
                                <label class="control-label">Επώνυμο:</label>
                                <input class="form-control" tabindex="1" type="text" v-model="new_student.last_name">
                                <span v-show="error_values.last_name" class="help-block">
                                    &laquo;{{message_errors.last}}&raquo;
                                </span>
                            </div>

                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : error_values.first_name
                            }">
                                <label class="control-label">Όνομα:</label>
                                <input class="form-control" tabindex="2" type="text" v-model="new_student.first_name">
                                <span v-show="error_values.first_name" class="help-block">
                                    &laquo;{{message_errors.first_name}}&raquo;
                                </span>
                            </div>

                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : error_values.mothers_name
                            }">
                                <label class="control-label">Μητρώνυμο:</label>
                                <input class="form-control" tabindex="4" type="text" v-model="new_student.mothers_name">
                                <span v-show="error_values.mothers_name" class="help-block">
                                    &laquo;{{message_errors.mothers_name}}&raquo;
                                </span>
                            </div>

                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : error_values.sex
                            }">
                                <label class="control-label">Φύλο:</label>
                                <div v-if="individual || sex == 3">
                                    <select class="form-control"  tabindex="6" v-model="sex">
                                        <option value="0">Κορίτσι</option>
                                        <option value="1">Αγόρι</option>
                                    </select>
                                </div>
                                <div v-else>
                                    <select class="form-control"  tabindex="6" v-model="sex" disabled>
                                        <option value="0">Κορίτσι</option>
                                        <option value="1">Αγόρι</option>
                                    </select>
                                </div>

                                <span v-show="error_values.sex" class="help-block">
                                    &laquo;{{message_errors.sex}}&raquo;
                                </span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : am_error || error_values.am
                            }">
                                <label class="control-label">Αρ. Μητρώου:</label>
                                <input class="form-control" tabindex="3" type="text" size="6" maxlength="6" v-model="new_student.am">
                                <span v-show="am_error || error_values.am" class="help-block">
                                    &laquo;{{message_errors.am}}&raquo;
                                </span>
                            </div>

                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : error_values.middle_name
                            }">
                                <label class="control-label">Πατρώνυμο:</label>
                                <input class="form-control" tabindex="5" type="text" v-model="new_student.middle_name">
                                <span v-show="error_values.middle_name" class="help-block">
                                    &laquo;{{message_errors.middle_name}}&raquo;
                                </span>
                            </div>

                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : year_birth_error || error_values.year_birth
                            }">
                                <label class="control-label">Έτος Γέννησης:</label>
                                <input class="form-control" tabindex="7" type="text" size="4" maxlength="4" v-model="new_student.year_birth">
                                <span v-show="year_birth_error || error_values.year_birth" class="help-block">
                                    &laquo;{{message_errors.year_birth}}&raquo;
                                </span>
                            </div>

                            <div :class="{
                                'form-group form-inline' : true,
                                'has-error has-feedback' : error_values.class
                            }">
                                <label class="control-label">Τάξη:</label>
                                <select class="form-control" tabindex="8" v-model="new_student.class">
                                    <option value="1">Α</option>
                                    <option value="2">Β</option>
                                    <option value="3">Γ</option>
                                </select>
                                <span v-show="error_values.class" class="help-block">
                                    &laquo;{{message_errors.class}}&raquo;
                                </span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button @click="close" type="button" class="btn btn-default">Κλείσιμο</button>

                    <button v-if="submitting" class="btn btn-success disabled">
                        <i class="fa fa-spinner fa-spin"></i> παρακαλώ περιμένετε...
                    </button>

                    <button v-else @click="submitChanges" type="button" class="btn btn-success">
                        Δημιουργία μαθητή και προσθήκη στη Λίστα
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        template : '#modal-student',

        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            },

            sex: {
                type: Number,
                required: true,
                coerce: function (val) {
                    if(val === null){
                        return 3
                    }
                    return parseInt(val)
                }
            },

            individual : {
                type: Boolean,
                default : false
            },

            school: {
                type: String,
                default : 'high_school'
            }
        },

        data () {
            return {
                casInsertStudent : false,
                submitting : false,

                new_student : {
                    am : null,
                    first_name : '',
                    last_name : '',
                    middle_name : '',
                    mothers_name : '',
                    sex : null,
                    class : null,
                    year_birth : null
                },

                message_errors : {
                    am : 'error message ..',
                    first_name : 'error message ..',
                    last_name : 'error message ..',
                    middle_name : 'error message ..',
                    mothers_name : 'error message ..',
                    sex : 'error message ..',
                    class : 'error message ..',
                    year_birth : 'error message ..'
                },

                error_values : {
                    am : false,
                    first_name : false,
                    last_name : false,
                    middle_name : false,
                    mothers_name : false,
                    sex : false,
                    class : false,
                    year_birth : false
                }
            };
        },

        computed : {
            am_error () {
                if (this.new_student.am === null){
                    this.message_errors.am = '';
                    this.error_values.am = false;

                    return false;
                }

                if (this.new_student.am === ''){
                    this.message_errors.am = '';
                    this.error_values.am = false;

                    return false;
                }

                if (Number.isInteger(parseInt(this.new_student.am))){
                    this.error_values.am = false;

                    return false;
                }else{
                    this.message_errors.am = 'Ο αριθμός Μητρώου δεν είναι αριθμός';
                    this.error_values.am = true;
                    return true;
                }
            },
            year_birth_error () {
                if (this.new_student.year_birth === null){
                    this.message_errors.year_birth = '';
                    this.error_values.year_birth = false;

                    return false;
                }

                if (this.new_student.year_birth === ''){
                    this.message_errors.year_birth = '';
                    this.error_values.year_birth = false;

                    return false;
                }

                if (Number.isInteger(parseInt(this.new_student.year_birth))){
                    let sub = 2018 - parseInt(this.new_student.year_birth);
                    if (sub <= 18 && sub >=10){
                        this.error_values.year_birth = false;

                        return false;
                    }else{
                        this.message_errors.year_birth = 'Ο μαθητής πρέπει να είναι μέχρι την ηλικία των 18 ετών';
                        this.error_values.year_birth = true;

                        return true;
                    }
                    return false;
                }else{
                    this.message_errors.year_birth = 'Το έτος δεν είναι σωστό';
                    this.error_values.year_birth = true;

                    return true;
                }
            }
        },

        ready () {

            this.$watch('show', (val)=> {
                const el = this.$el;
                const body = document.body;
                if (val) {
                    el.querySelector('.modal-content').focus();
                    el.style.display = 'block';
                    setTimeout(()=> el.classList.add('in'), 0);
                } else {
                    el.classList.remove('in');

                    setTimeout(()=> {
                        el.style.display = 'none';
                        body.style.paddingRight = '0'
                    }, 300)
                }
            }, { immediate: true })

        },

        methods : {
            close() {
                this.show = false
            },

            submitChanges (){
                this.casInsertStudent = true;

                this.insertNewStudent();
            },

            insertNewStudent (){
                this.new_student.sex = this.sex;

                this.submitting = true;

                let routeName;

                if(this.school == 'high_school'){
                    routeName = 'insertNewStudent';
                }else{
                    routeName = 'insertNewStudentPrimary'
                }

                console.log('school:'+this.school+' routeName:'+routeName);


                this.$http.post('/aj/ofa/'+routeName,{
                    new_student : this.new_student
                })
                    .then(r => {
                        console.log(r.data);
                        this.submitting = false;
                        this.close();
                        this.initStudent();

                        if (this.individual){
                            this.$parent.addNewStudentToAllStudents(r.data);
                        }else{
                            this.$parent.addNewStudentToList(r.data);
                        }

                        this.$parent.displayAlert('Συγχαρητήρια!','Ο μαθητής καταχωρήθηκε με επιτυχία...', 'success');
                    })
                    .catch(r=> {
                        this.submitting = false;
                        this.createErrorMsg(r.data);
                    });
            },

            createErrorMsg(collection){
                Object.keys(collection).forEach(key => {
                    let attribute = key.substr(key.lastIndexOf(".")+1);
                    this.message_errors[attribute] = collection[key][0];
                    this.error_values[attribute] = true;
                });
                console.log(this.message_errors);

                this.$parent.displayAlert('Προσοχή ΣΦΑΛΜΑ - 150.400', 'Παρακαλώ επικοινωνήστε με τον διαχειριστή του συστήματος (Σμυρναίο Νικόλαο) και αναφέρετε τον κωδικό Σφάλματος', 'danger',true);
            },


            initStudent (){
                this.new_student.am = null;
                this.new_student.sex = null;
                this.new_student.class = null;
                this.new_student.year_birth = '';
                this.new_student.last_name = '';
                this.new_student.first_name = '';
                this.new_student.middle_name = '';
                this.new_student.mothers_name = '';
            }


        }
    }
</script>

<style>
    .modal {
      transition: all 0.3s ease;
    }
    .modal.in {
      background-color: rgba(0,0,0,0.5);
    }
    .modal.zoom .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .modal.zoom.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }

    .has-success .help-block,
    .has-success .control-label,
    .has-success .radio,
    .has-success .checkbox,
    .has-success .radio-inline,
    .has-success .checkbox-inline,
    .has-success.radio label,
    .has-success.checkbox label,
    .has-success.radio-inline label,
    .has-success.checkbox-inline label {
      color: #3c763d;
    }

    .has-success .form-control {
      border-color: #3c763d;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .has-success .form-control:focus {
      border-color: #2b542c;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    }

    .has-success .input-group-addon {
      color: #3c763d;
      border-color: #3c763d;
      background-color: #dff0d8;
    }

    .has-success .form-control-feedback {
      color: #3c763d;
    }

    .has-warning .help-block,
    .has-warning .control-label,
    .has-warning .radio,
    .has-warning .checkbox,
    .has-warning .radio-inline,
    .has-warning .checkbox-inline,
    .has-warning.radio label,
    .has-warning.checkbox label,
    .has-warning.radio-inline label,
    .has-warning.checkbox-inline label {
      color: #8a6d3b;
    }

    .has-warning .form-control {
      border-color: #8a6d3b;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .has-warning .form-control:focus {
      border-color: #66512c;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    }

    .has-warning .input-group-addon {
      color: #8a6d3b;
      border-color: #8a6d3b;
      background-color: #fcf8e3;
    }

    .has-warning .form-control-feedback {
      color: #8a6d3b;
    }

    .has-error .help-block,
    .has-error .control-label,
    .has-error .radio,
    .has-error .checkbox,
    .has-error .radio-inline,
    .has-error .checkbox-inline,
    .has-error.radio label,
    .has-error.checkbox label,
    .has-error.radio-inline label,
    .has-error.checkbox-inline label {
      color: #a94442;
    }

    .has-error .form-control {
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .has-error .form-control:focus {
      border-color: #843534;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    }

    .has-error .input-group-addon {
      color: #a94442;
      border-color: #a94442;
      background-color: #f2dede;
    }

    .has-error .form-control-feedback {
      color: #a94442;
    }

    .has-feedback label ~ .form-control-feedback {
      top: 25px;
    }

    .has-feedback label.sr-only ~ .form-control-feedback {
      top: 0;
    }

    .help-block {
      display: block;
      margin-top: 2px;
      margin-bottom: 10px;
      color: #737373;
      font-style:italic;
      font-weight: bold;
      font-size: 10pt;
    }
</style>