<template id="modal-agreement">
    <div role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button @click="close" type="button" class="close"><span>&times;</span></button>
                    <h4 class="modal-title">
                            Όροι και προϋποθέσεις
                    </h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            Με την αποστολή, η Λίστα - Κατάσταση Συμμετοχής, καταχωρείται και στέλνεται αντίγραφο (E-mail) στο γραφείο Φυσικής Αγωγής.
                        </li>
                        <li>
                            Η Σχολική Μονάδα θα πρέπει:
                            <ol>
                                <li>να ελέγξει την ορθότητα των στοιχείων,</li>
                                <li>να εκτυπώσει τη Λίστα-Κατάσταση συμμετοχής,</li>
                                <li>να την υπογράψει ο Διευθυντής του Σχολείου,</li>
                                <li>να παραδώσει τη Λίστα στην Ο.Φ.Α., στον 1ο αγώνα της ομάδος.</li>
                            </ol>
                        </li>
                    </ul>
                    <p>Αν συμφωνείτε με τους παραπάνω όρους πατήστε <b>Συνέχεια</b></p>
                </div>
                <div class="modal-footer">
                    <button @click="close" type="button" class="btn btn-default">Κλείσιμο</button>
                    <button @click="continueButton" type="button" class="btn btn-primary">Αποδοχή και Αποστολή</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        template : '#modal-agreement',

        methods : {
            message (title, body, type){
                $.swalAlert({
                    title : title,
                    body : body,
                    level : type
                });
            },

            close (){
                this.show = false;
                this.message('Ειδοποίηση', 'Η Αποστολή πραγματοποιείται μόνο συμφωνώντας με τους όρους','warning');
            },

            continueButton (){
                this.show = false;
                console.log('before ...');
                if(this.individual){
                    this.$parent.$options.methods.sentRequestIndividual();
                }else{
                    this.$parent.$options.methods.sentRequest();
                }
                this.loader = false;
            }
        },

        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            },
            loader : {
                type: Boolean,
                required: true,
                twoWay: true
            },
            individual : {
                type: Boolean,
                default : false
            }
        },

        data () {
            return {
                datamodal : 2
            };
        },

        ready (){
            this.$watch('show', (val)=> {
                const el = this.$el;
                const body = document.body;
                if (val) {
                    el.querySelector('.modal-content').focus();
                    el.style.display = 'block';
                    setTimeout(()=> el.classList.add('in'), 0);
                } else {
                    el.classList.remove('in');

                    setTimeout(()=> {
                        el.style.display = 'none';
                        body.style.paddingRight = '0'
                    }, 300)
                }
            }, { immediate: true })
        }
    }
</script>

<style>
    .modal {
      transition: all 0.3s ease;
    }
    .modal.in {
      background-color: rgba(0,0,0,0.5);
    }
    .modal.zoom .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .modal.zoom.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>